{{> header}} 


 
<div id="mobileContent">
	<div class="flamebox">
		<div class="innerflame">
			<div src="/img/common/header_flame_sprite.png" class="l-1">
			</div>
		</div>
	</div>

<!-- BBTEMPLATE: home -->
	<div class="homepage">
		<div class="freeShipBanner">
		</div>
		
		
		<section class="target1">
			<portals>
				<ul class="small-block-grid-2">
					<li><img src="/img/test/col1.jpg" /></li>
					<li><img src="/img/test/col2.jpg" /></li>
					<li><img src="/img/test/col3.jpg" /></li>
					<li><img src="/img/test/col4.jpg" /></li>
				</ul>
			</portals>
		</section>
		
		<section class="target2">
			<div class="sprites">
				<div class="row">
					<div class="cell">
						<a href="/shop" class="sprite shop"></a> 
					</div>
					<div class="cell">
						<a href="http://m.sephora.com/contentStore/mediaContentTemplate.jsp?mediaId=12800020" class="sprite newprods"></a> 
					</div>
					<div class="cell">
						<a href="http://m.sephora.com/brand/list.jsp" class="sprite brands"></a> 
					</div>
				</div>
				<div class="row">
					<div class="cell">
						<a href="/contentStore/mediaContentTemplateNoNav.jsp?mediaId=12700031" class="sprite reviews"></a> 
					</div>
					<div class="cell">
						<a href="/app/todaysobsession.php" class="sprite todaysob"></a> 
					</div>
					<div class="cell">
						<a href="http://m.sephora.com/contentStore/mediaContentTemplate.jsp?mediaId=11000020" class="sprite mobileoffers"></a> 
					</div>
				</div>
				<div class="row">
					<div class="cell">
						<a href="https://m.sephora.com/profile/purchaseHistory/purchaseHistory.jsp" class="sprite pastpurch protected"></a> 
					</div>
					<div class="cell">
						<a href="https://m.sephora.com/profile/MyAccount/MyList/myList.jsp" class="sprite mylist"></a> 
					</div>
					<div class="cell">
						<a href="https://sephora-m.cashstar.com/" class="sprite egifts"></a> 
					</div>
				</div>
				<div class="row">
					<div class="cell">
						<a href="http://www.theglossy.sephora.com/" class="sprite tumblr"></a> 
					</div>
					<div class="cell">
						<a href="/search/saleResults.jsp?keyword=sale" class="sprite sale"></a> 
					</div>
					<div class="cell">
						<a href="http://m.sephora.com/offers/samples.jsp?mediaId=10800026" class="sprite freesamples"></a> 
					</div>
				</div>
				<div class="row">
					<div class="cell">
						<a href="https://m.sephora.com/profile/MyAccount/myAccountLoading.jsp" class="sprite myaccount"></a> 
					</div>
					<div class="cell">
						<a href="https://m.sephora.com/videos/" class="sprite video"></a> 
					</div>
					<div class="cell">
						<a href="http://m.sephora.com/about/storelocation.jsp" class="sprite store"></a> 
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

{{> footer}}