{{> header}}
<section class="target2">
	{{!> breadcrumbs}}


	<div class="categories shop-landing">
		<div id="categories">
			{{> categories}}
		</div>

<!-- 				<h2 class="midpage">
			More Ways to Shop
		</h2>
		<ul class="navigation">
			<li><a href="/contentStore/mediaContentTemplate.jsp?mediaId=11000020" class="weeklyspecial-link">Weekly Specials</a></li>
			<li><a href="/contentStore/mediaContentTemplate.jsp?mediaId=12800020" class="whatsnew-link">What's New</a></li>
			<li><a href="/contentStore/mediaContentTemplate.jsp?mediaId=12200056" class="hotnow-link">Sephora Hot Now</a></li>
		</ul>
-->
	</div>
</section>
<section class="target1">
	{{> categoryProducts}}
</section>
{{> footer}}
