{{> headerSmall}}


<h3>Select a shipping address</h3>

<div>
	<section class="row form-field-grouping has-child address-section">
		<div class="col-small-span-7">
			<strong>Jane Doe</strong><br/>
			Some Company<br/>
			123 Main Street<br/>
			A Town, CA 94506<br/>
		</div>

		<div class="col-small-span-5">
			<a href="#" class="icon-expand"><span>&#10003;</span></a>
		</div>
	</section>

	<section class="row form-field-grouping has-child address-section">
		<div class="col-small-span-7">
			<strong>Marsha Brady</strong><br/>
			456 Da Street<br/>
			Towns, CA 94506<br/>
		</div>
		
		<div class="col-small-span-5">

		</div>
	</section>
</div>

<section class="row form-field add-address-section">
	<div class="col-small-span-12">
		<a href="javascript:;" class="add-address icon-expand"><span>+</span></a>
		<a href="javascript:;" class="add-address">Add a shipping address</a>
	</div>
</section>


{{> footer}}