<div class="row basket-item" id="sku-{{skuId}}-Standard">
	<grid class="col-small-span-2">
		<a href="/product/{{primaryProduct.productId}}"> <img src="{{skuImages.image42}}" height="42" width="42" /> </a> 
	</grid>


	<grid class="col-small-span-10">
		<div class="product-price">
			{{listPrice}}
		</div>
		<ul>
			<li>
				<a href="/product/{{primaryProduct.productId}}?skuId={{skuId}}"><span class="brand">{{primaryProduct.displayName}}</span> {{displayName}}</a>
			</li>

			<li>
				Quantity: {{amount}}
			</li>
		</ul>
	</grid>
</div>