				<div class="item basket-item" id="sku-{{skuId}}-Standard">
					<div class="product-image">
						<a href="/product/{{primaryProduct.productId}}"> <img src="{{skuImages.image42}}" height="42" width="42"> </a> 
					</div>
					<div class="product-description">
						<h2>
							<a href="/product/{{primaryProduct.productId}}?skuId={{skuId}}"><span class="brand">{{primaryProduct.displayName}}</span> {{displayName}}</a>
						</h2>
						<div class="item-purchase-info">
							<div class="sku-and-variant">
								<div>
									<span class="sku"> <span class="label">Item #</span> <span class="value OneLinkNoTx">{{skuId}}</span> </span> 
								</div>
								<div class="info-row variation">
								</div>
							</div>
							<div class="quantity-action item-actions">
								<div class="product-price">
									<span class="list-price"><span class="currency">{{listPrice}}</span></span> 
								</div>
								<div class="product-quantity">
									<label for="{{skuId}}">QTY</label> 
									<select id="{{skuId}}_count" class="OneLinkNoTx quantitySelector " name="{{skuId}}_count">
										<option value="1" selected="">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</div>
								<span class="remove"> <a href="#" id="{{skuId}}_remove" class="basketRemove_Href">remove</a> </span> <span>|</span> 
								<ul style="display:inline;">
									<li class="list" style="display:inline-block;"> <a id="{{skuId}},?,{{primaryProduct.productId}}" class="moveToMyList_Href">add to my list</a> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>