{{> header}} 
<div id="mobileContent">
	<div class="bigbigbasket">
		<div class="shopping-basket basket">
			<div id="breadcrumbs">
				<ul class="breadcrumb" role="navigation">
					<li><a href="/">home</a></li>
					<li>my basket </li>
				</ul>
			</div>
			<div class="calculation container">
				<div class="total-row subtotal container">
					<div class="label">
						Order Total
					</div>
					<div class="value">
						<span class="sub">{{basket.total}}</span> 
					</div>
				</div>
			</div>
		</div>
		<div class="basket-contents">
			<div class="basket-items">
				{{#each basket.contents}}
					{{> basketItem this}}
				{{/each}}
			</div>
		</div>

		<div class="update-and-total basket-actions">
			<div class="basket-totals">
				<a href="#" class="pop-info" rel="#pop-shipping">shipping information <i class="arrow-mini arrow-right"></i></a>
				<div class="total-row subtotal container">
					<div class="label">
						Order Total
					</div>
					<div class="value">
						<span class="sub">{{basket.total}}</span> 
					</div>
				</div>
			</div>
		</div>

		<div class="cart-controls basket-actions">
			<a class="btn btn-large btn-border btn-block btn-shop" href="/shop"><i class="arrow-mini arrow-left"></i> continue shopping</a> 
			
			<a href="/my/review" class="btn-big-red btn-checkout">checkout</a>
			
			<button class="canada-checkout" value="canada" name="canada"></button> 
		</div>


		

	</div>
</div>



	{{> footer}}