{{> header}}


<!-- start: CHECKOUT SUMMARY -->
<div class="row order-total-wrapper">
	<div class="col-small-span-8">
		<h1 class="order-total">Order Total<h1>
	</div>
	<div class="col-small-span-4">
		<h1 class="order-total">$244.13</h1>
	</div>
</div>	

<div class="place-order">
	<button class="btn btn-large btn-primary place-order-button" >Place Order</button>
</div>


<div class="row form-field" id="beauty_insider">
	<div class="col-small-span-6 camel">
		Beauty Insider
	</div>
	<div class="col-small-span-6">
		1 Reward
	</div>
</div>

<div class="row form-field has-child" id="ship_to">
	<div class="col-small-span-6">
		Ship to
	</div>
	<div class="col-small-span-6">
		<strong>Jane Doe</strong><br/>
		Some Company<br/>
		123 Main Street<br/>
		A Town, CA 94506<br/>
	</div>
</div>

<div class="row form-field has-child" id="delivery">
	<div class="col-small-span-6">
		Delivery
	</div>
	<div class="col-small-span-6">
		Standard 3 Day
	</div>
</div>

<div class="row form-field has-child" id="payment">
	<div class="col-small-span-6">
		Payment
	</div>
	<div class="col-small-span-6">
		VISA *******1111
	</div>
</div>

<div class="row form-field has-child" id="promotion">
	<div class="col-small-span-6">
		Promotion
	</div>
	<div class="col-small-span-6">
		Optional
	</div>
</div>




<!-- totals -->
<div class="row form-field-grouping">
	<div class="col-small-span-8">
		Merchandise Total
	</div>
	<div class="col-small-span-4">
		$225
	</div>
</div>
<div class="row form-field-grouping">
	<div class="col-small-span-8">
		Merchandise Shipping
	</div>
	<div class="col-small-span-4">
		Free
	</div>
</div>
<div class="row form-field-grouping">
	<div class="col-small-span-8">
		Tax
	</div>
	<div class="col-small-span-4">
		$19.13
	</div>
</div>
<div class="row form-field-grouping order-total">
	<div class="col-small-span-8">
		Order Total
	</div>
	<div class="col-small-span-4">
		$244.13
	</div>
</div>

<div class="fixed-buffer-bottom"></div>

<!-- end: CHECKOUT SUMMARY -->

{{!> cc}}
{{!> bi}}
{{!> confirmation}}



{{> footer}}