<!-- <div role="footer" id="mobileFooter">
	<div class="freeShipBanner">
	</div>
	<ul class="bottom-nav-2">
		<li><a href="http://m.sephora.com/contentStore/mediaContentTemplate.jsp?mediaId=9300044">Help</a></li>
		<li><a href="http://m.sephora.com/about/storelocation.jsp">Stores</a></li>
		<li><a onclick=" if (!confirm('Switch to Full Site?')) return false;" href="http://www.sephora.com/?MobileOptOut=1">Full Site</a></li>
		<li id="contact-us"> <a href="http://m.sephora.com/customerService/contactUs.jsp"></a> </li>
	</ul>

	<div class="bottom-footer">
		<a href="http://m.sephora.com/contentStore/mediaContentTemplateNoNav.jsp?mediaId=12300066" class="legal">Legal</a> 
		<p class="copyright">
			<span class="logo"></span> <span class="brand">&copy;2013 Sephora USA, Inc.</span> 
		</p>
	</div>
</div>
 -->

 	</div><!-- end mobileContent -->
</div><!--  end mWrapper -->

{{> wpo}}
</body>
</html>