<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>
		{{title}} [ {{mode}} mode ]
	</title>
{{#if isProduction}}
	<link rel="stylesheet" type="text/css" href="/css/sephora.css" />
{{else}}
	<link rel="stylesheet" type="text/css" href="http://m.sephora.com/css/main.v1.css?versBB=2"/>
	<link rel="stylesheet" type="text/css" href="http://m.sephora.com/css/home.v2.css?versBB=2"/>
	<link rel="stylesheet" type="text/css" href="http://m.sephora.com/css/shop/shop.css?versBB=2"/>
	<link rel="stylesheet" type="text/css" href="http://m.sephora.com/css/product/product.css?versBB=2"/>
	<link rel="stylesheet" type="text/css" href="/css/category.css" />
	<link rel="stylesheet" type="text/css" href="/css/search.css" />
	<link rel="stylesheet" type="text/css" href="/css/product.css" />
	<link rel="stylesheet" type="text/css" href="/css/view_cart.css" />
{{/if}}
</head>
<body onload="setTimeout(function(){window.scrollTo(0,1);}, 100);">

<div id="mWrapper">
	<div id="mobileHeader" class="cart" role="header">
		<div>
			<div class="account"></div>
		</div>
		<a class="logo" href="/"></a>
		<div></div>
	</div>