<webview class="anim-base">

{{> _header this}}

	<search class="search-wrapper row">
		<grid class="col-small-span-12">
			<input type="text" name="keyword" placeholder="search" role="textbox" aria-haspopup="true" aria-autocomplete="list" autocomplete="off" id="site-search-field" class="site-search-field ui-autocomplete-input input-text">

			<button type="button" class="btn ">Search</button>
		</grid>
	</search>

<!-- 	<div id="mobileHeader">
		<ul class="top-nav" role="navigation">
			<li class="l-one" id="left_nav"><a class="header-back" href="javascript:;"><span class="icons back"></span></a> </li>
			<li class="l-two" id="sephora"><a href="javascript:;" class="logo">
				checkout
			</li>
			<li class="l-one" id="right_nav"><a class="header-basket" href="javascript:;"><span class="icons basket"></span></a> </li>
		</ul>
	</div>

 -->


 <div id="mobileContent" class="fixed-buffer">