<div class="product-information">
	<div class="modal modal-large modal-view-larger popup" id="modal-view-larger">
		<div class="modal-body clearfix">
			<div class="product-description container">
				<div class="purchase-info">
					<span class="sku-price">
						<span class="list-price">
							{{currentSku.listPrice}} 
						</span>
					</span>
				</div>
				<h2>
					{{displayName}} 
				</h2>
				<div class="info-row">
					<span class="sku">
						<span class="label">
							Item # 
						</span>
						<span class="value OneLinkNoTx">
							{{currentSku.skuId}} 
						</span>
					</span>
					<span class="size">
						<span class="label">
							Size 
						</span>
						<span class="value">
							6 oz 
						</span>
					</span>
				</div>

				<div class="sku-selector swatch-sq-lg border">
					<div class="sku-selector-content clearfix">
					
					asdfasdfasfasfasdf
{{#each regularChildSkus}}
						<a id="sku-{{this.skuId}}" title="{{this.displayName}}" class="product-thumb " href="#">
							<img src="{{this.smallImage}}" alt="{{this.variationDesc}}" />
						</a>
{{/each}}
					</div>
				</div>
			</div>
			<div class="view-bottom container">
				<p class="flags">
				</p>
				<div class="product-views container">
					<h3>
						VIEWS 
					</h3>
				</div>
			</div>
		</div>
		<div class="icon close">
		</div>
	</div>
	<div class="product-page product-detail">
		<h1>
		<p class="brand-name">
			{{brand.displayName}} 
		</p>
	<p class="prod-name">
		{{displayName}} 
	</p>
</h1>
<div class="product-image hero-main-image">
	<img alt="{{imageAltText}}" data-zoom="true" src="{{currentSku.skuImages.image250}}" rel="#modal-view-larger"> 
</div>
<div class="view-larger-trigger">
	<a rel="#modal-view-larger" href="#">
		view larger 
	<span class="icon">
	</span>
</a>
</div>
<!-- 
<div class="product-variations-wrapper">
	<div class="product-variations sku-selector">
		<a id="sku-1309590" title="&lt;span class='swatch-tip'&gt;&lt;b&gt;&lt;span class='OneLinkNoTx'&gt;2 oz&lt;/span&gt;&lt;/b&gt;&lt;/span&gt;" class="product-thumb " href="#"> <img src="http://www.sephora.com/productimages/sku/s1309590+sw.jpg"> </a> <a id="sku-{{currentSku.skuId}}" title="&lt;span class='swatch-tip'&gt;&lt;b&gt;&lt;span class='OneLinkNoTx'&gt;6 oz&lt;/span&gt;&lt;/b&gt;&lt;/span&gt;" class="product-thumb current" href="#"> <img src="http://www.sephora.com/productimages/sku/s{{currentSku.skuId}}+sw.jpg"> </a> 
	</div>
</div>
 -->
<div class="purchase-info">
	<div class="price-quantity-checkout">
		<div class="productinfo">
			<div class="container" id="primarySkuInfoArea">
				<div class="product-description container">
					<div id="primarySkuInfo_price" class="purchase-info">
						<div class="container">
							<span class="sku-price">
								<span class="list-price">
									{{currentSku.listPrice}} 
								</span>
							</span>
							<div class="product-quantity">
								<label for="{{currentSku.skuId}}">
									QTY 
								</label>
								<select name="productQuantity" class="OneLinkNoTx quantitySelector " id="productQuantity">
									<option selected="" value="1">
										1 
									</option>
									<option value="2">
										2 
									</option>
									<option value="3">
										3 
									</option>
									<option value="4">
										4 
									</option>
									<option value="5">
										5 
									</option>
									<option value="6">
										6 
									</option>
									<option value="7">
										7 
									</option>
									<option value="8">
										8 
									</option>
									<option value="9">
										9 
									</option>
									<option value="10">
										10 
									</option>
								</select>
							</div>
						</div>
						<div style="display:none;" class="free-shipping">
							free shipping 
						</div>
						<div style="display: none;" class="out-of-stock">
							<b>
								not in stock 
							</b>
							<span>
								: 
							</span>
							<a class="underline btn-email-when-in-stock" href="#">
							</a>
						</div>
					</div>
					<h1>
					</h1>
					<div class="info-row">
						<span class="sku">
							<span class="label">
								Item # 
							</span>
							<span class="value OneLinkNoTx">
								{{currentSku.skuId}} 
							</span>
						</span>
						<span class="size">
							<span class="label">
								Size 
							</span>
							<span class="value">
								6 oz 
							</span>
						</span>
					</div>
					<p style="display:none" class="new">
						New 
					</p>
					<div class="rstarboxarea">
						<div class="r-stars-aggregate">
							<img src="http://reviews.sephora.com/8723illuminate/4_6/5/rating.gif" alt="4_6 out of 5"> 
						</div>
						<a class="r-link" href="#BVRreviews">
							2100 Reviews 
						</a>
					</div>
				</div>
			</div>
			<div class="flags">
			</div>
		</div>
		<div class="additional-actions">
			<div class="actions">
				<div>
					<button type="button" name="add-to-basket" class="btn btn-large btn-primary btn-add-to-basket enable">
						add to basket 
						<i class="arrow-mini arrow-right">
						</i>
					</button>
				</div>
				<div style="display:none;">
					<button type="submit" name="buy-the-collection" class="btn btn-large btn-primary btn-buy-the-collection">
						buy the collection 
					</button>
				</div>
				<div style="display:none;" class="bi-exclusive">
					<span class="OneLinkNoTx">
						Beauty Insider 
					</span>
					exclusive 
				</div>
			</div>
			<div class="find">
				<label for="find-store">
					find in store 
				</label>
				<input type="text" placeholder="zip code" id="find-store" name="zip" class="find-store input-text"> 
				<button type="submit" name="go" rel="#find-in-store" class="btn-go icon">
				</button>
				<button class="goproxy">
					go 
				</button>
			</div>
			<div class="emailme">
			</div>
			<div style="display: none;">
				<button type="submit" name="add-all-to-my-list" class="btn btn-arrows btn-add-all-to-my-list">
				<p>
					add all to my list 
				</p>
			</button>
		</div>
		<div>
			<button type="submit" data-ajaxbutton="true" class="btn btn-large btn-border btn-add-to-my-list btn-disabled">
			<p>
				add to my list 
			</p>
		</button>
	</div>
	<div style="display: none;" class="currently-on-your-list">
		<a href="http://m.sephora.com/profile/MyAccount/MyList/myList.jsp">
		<span>
			on your shopping list 
		</span>
	</a>
</div>
</div>
</div>
</div>
<!-- 
<div class="more-info-tabs">
	<ul class="tabs">
		<li class="current active" target="#product-reviews"> Reviews </li>
		<li class="" target="#description-content"> Description &amp; Ingredients </li>
	</ul>
	<div id="product-reviews" class="tab-content product-reviews" style="display:block;">
		<p>
			<span class="write-a-review"> ADD REVIEW </span> 
			<select id="bzsortby" style="display: block;">
				<option value=""> Sort By </option>
				<option value="SubmissionTime:desc"> Newest First </option>
				<option value="SubmissionTime:asc"> Oldest First </option>
				<option value="Rating:desc"> Ratings High to Low </option>
				<option value="Rating:asc"> Ratings Low to High </option>
				<option value="helpfulness:desc"> Helpfulness High to Low </option>
				<option value="helpfulness:asc"> Helpfulness Low to High </option>
			</select>
			<span class="clear"> </span> 
		</p>
		<div class="box-for-reviews">
			<div class="BVRreviews" name="BVRreviews" id="BVRreviews">
				<div class="r-review reduced">
					<div class="r-stars">
						<img src="http://reviews.sephora.com/8723illuminate/5/5/rating.gif"> 
					</div>
					<div class="r-title">
						<p>
							Terrific all-purpose cream 
						</p>
					</div>
					<div class="r-reviewtext small">
						<p>
							This cream is a great find! We live in a cold but VERY dry climate, and staying moisturized in the fall and winter is to... 
						</p>
					</div>
					<div class="r-reviewtext large">
						<p>
							This cream is a great find! We live in a cold but VERY dry climate, and staying moisturized in the fall and winter is tough. Both my husband and I love this new cream. It's barely got a scent (a BIG plus) and is really emollient without a greasy feeling. I'll definitely buy it again. 
						</p>
					</div>
				</div>
				<div class="r-review reduced">
					<div class="r-stars">
						<img src="http://reviews.sephora.com/8723illuminate/5/5/rating.gif"> 
					</div>
					<div class="r-title">
						<p>
							Wonderful!!! 
						</p>
					</div>
					<div class="r-reviewtext small">
						<p>
							I have acne prone skin that can get oily but flake at the same time. Most oil free face lotions aren't moisturizing enou... 
						</p>
					</div>
					<div class="r-reviewtext large">
						<p>
							I have acne prone skin that can get oily but flake at the same time. Most oil free face lotions aren't moisturizing enough to actually get rid of the flakes. Other lotions that contain oil get rid of the flakes but break me out. I decided to try this cream after reading the reviews and have fallen IN LOVE with this product!!! It hydrates my skin beautifully and it isn't greasy. It hasn't made me break out and it's kept the flakes at bay. My favorite part: It comes in a giant tub!!!! A must buy!!! 
						</p>
					</div>
				</div>
				<div class="r-review reduced">
					<div class="r-stars">
						<img src="http://reviews.sephora.com/8723illuminate/5/5/rating.gif"> 
					</div>
					<div class="r-title">
						<p>
							Reief In A Jar 
						</p>
					</div>
					<div class="r-reviewtext small">
						<p>
							Light and fast absorbing cream turned the little bumps on the back of my arms into soft smooth cream after just one use.... 
						</p>
					</div>
					<div class="r-reviewtext large">
						<p>
							Light and fast absorbing cream turned the little bumps on the back of my arms into soft smooth cream after just one use. When I showered the next day, I noticed that the cream hadn't gone away. Even though I couldn't feel it I could still feel like it was there. 
						</p>
					</div>
				</div>
				<div class="r-review reduced">
					<div class="r-stars">
						<img src="http://reviews.sephora.com/8723illuminate/5/5/rating.gif"> 
					</div>
					<div class="r-title">
						<p>
							amazing 
						</p>
					</div>
					<div class="r-reviewtext small">
						<p>
							This stuff works great. Its difficult to find a cream that you can use anywhere on your body and isn't incredibly greasy... 
						</p>
					</div>
					<div class="r-reviewtext large">
						<p>
							This stuff works great. Its difficult to find a cream that you can use anywhere on your body and isn't incredibly greasy. I love this stuff. Its lightweight, and it works really well and isn't greasy at all. 
						</p>
					</div>
				</div>
				<div class="r-review">
					<div class="r-stars">
						<img src="http://reviews.sephora.com/8723illuminate/5/5/rating.gif"> 
					</div>
					<div class="r-title">
						<p>
							Moisturizing 
						</p>
					</div>
					<div class="r-reviewtext small">
						<p>
							Moisturizing without being greasy. I use it on my hands, neck and face (when needed). Nice smell that doesn't linger. 
						</p>
					</div>
					<div class="r-reviewtext large">
						<p>
							Moisturizing without being greasy. I use it on my hands, neck and face (when needed). Nice smell that doesn't linger. 
						</p>
					</div>
				</div>
				<div class="r-pagination">
					<a href="#" query="&amp;baseURL=http://reviews.sephora.com/data/reviews.json?&amp;starsURL=http://reviews.sephora.com/8723illuminate/&amp;productID=P248407&amp;Limit=10&amp;Offset=5&amp;Sort=rating:desc" class="r-seemore"> read more reviews </a> 
				</div>
			</div>
		</div>
		<div class="clear">
		</div>
	</div>
	<div id="description-content" class="tab-content">
		<div style="display:block;" class="short-description hidden">
			<p>
				{{shortDescription}} 
			</p>
		</div>
		<div style="display: none;" class="long-description">
			<p>
				<b> What it is: </b> <br>
				An over-the-counter, super-emollient cream with a spectacular whipped, non-greasy texture.<br>
				<br>
				<b> What it does: </b> <br>
				This Ultra Repair Cream is a thick, rich, emollient product that hydrates deep down with exceptional penetration. This cream is for anyone with severely dry, scaly skin due to harsh winter weather, aggressive cosmetic treatments, or any of the following conditions: atopic dermatitis, irritant eczema, allergic eczema, and keratosis pilaris. With the help of colloidal oatmeal, shea butter, soothing eucalyptus oil, and ceramides, Ultra Repair Cream provides immediate relief and visible improvement for distressed skin. The FAB Antioxidant Booster defends skin from free radical damage and the cream deeply hydrates with exceptional penetration, providing immediate relief and visible improvement. The cream is immediately absorbed into the skin and can be used all over the body and on the face.<br>
				<br>
				<b> What it is formulated WITHOUT: </b> <br>
				- Parabens<br>
				- Sulfates<br>
				- Synthetic Fragrances<br>
				- Synthetic Dyes<br>
				- Phthalates<br>
				- GMOs<br>
				- Triclosan<br>
				<br>
				<b> What else you need to know: </b> <br>
				Safe for even the most sensitive skin. Petroleum-free. It contains Colloidal Oatmeal, the only FDA-approved, OTC ingredient for eczema. It's allergy-tested, dermatologist-recommended, and contains FAB Antioxidant Booster to combat free radicals.<br>
				<br>
				<b> Research results: </b> <br>
				- An immediate improvement in skin hydration of 169%. <br>
				- After 2 weeks, improvement in skin hydration of 38%. <br>
				- 79% preferred Ultra Repair Cream over other products. <br>
				- 98% noted instant relief from dry skin. <br>
				- 100% reported a lasting improvement in skin dryness.<br>
				<br>
				<i> Sephora is the exclusive beauty retailer for this product. </i> 
			</p>
		</div>
		<br>
		<b> Ingredients: </b> 
		<p class="sku-ingredients">
			-Colloidal Oatmeal: FDA-designated Skin Protectant to relieve itching and minor irritation. <br>
			<br>
			Colloidal Oatmeal 0.50%,Water, Stearic Acid, Glycerin, C12-15 Alkyl Benzoate, Caprylic/Capric Triglyceride,Glyceryl Stearate, Glyceryl Stearate SE, Cetearyl Alcohol, Caprylyl Glycol, Phenoxyethanol, Butyrospermum Parkii (Shea Butter), Squalane, Allantoin, Sodium Hydroxide, Dimethicone, Xanthan Gum, Disodium EDTA, Chrysanthemum Parthenium (Feverfew) Extract, Camellia Sinensis (White Tea) Leaf Extract, Butylene Glycol, Glycyrrhiza Glabra (Licorice) Root Extract, Eucalyptus Globulus, Ceramide 3. 
		</p>
		<a class="product-description-toggle"> <span class="under"> more </span> </a> 
	</div>
	<div class="facebook-like">
		<a href="mailto:?email=&amp;subject=Sephora.com - Ultra Repair Cream&amp;body=Check out this product at Sephora.com 
 Ultra Repair Cream 
 http://www.sephora.com/ultra-repair-cream-P248407?" class="email-to-link"> Email </a> <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.sephora.com%2Fultra-repair-cream-P248407&amp;t=First+Aid+Beauty+Ultra+Repair+Cream%3A+Shop+Body+Moisturizer+%7C+Sephora"> <img alt="Share On Facebook" src="/img/facebook-like-icon.png"> </a> 
		<div class="pinterest">
			<a href="http://pinterest.com/pin/create/button/?url=http://www.sephora.com/ultra-repair-cream-P248407%3Fom_mmc%3Doth-pinterest-dotcompinbuttons-2012&amp;media=http://www.sephora.com/images/sku/s{{currentSku.skuId}}-main-hero.jpg&amp;description=First%20Aid%20Beauty%20%2D%20Ultra%20Repair%20Cream%20%20%23sephora" class="PIN_1363123149119_pin_it_button PIN_1363123149119_pin_it_button_inline PIN_1363123149119_pin_it_none" data-pin-log="button_pinit" data-pin-config="none"> <span class="PIN_1363123149119_hidden" id="PIN_1363123149119_pin_count_0"> <i> </i> </span> </a> 
		</div>
	</div>
</div>

<!--	How To Videos Coming Soon!
					<div class="how-to-videos">
<h2>
	How To Videos
</h2>
</div>
<div class="similar-products">
	<h2>
		You Might Also Like 
	</h2>
	<a class="previous">
		<img src="/img/common/arrows/black-arrow-left@2x.png"> 
	</a>
	<div class="carousel instantiated" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 1812px;">
		<ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 6342px; left: -1812px;">
			<li style="overflow: hidden; float: left; width: 906px; height: inherit;">
				<div class="product-item">
					<a href="http://m.sephora.com/detox-eye-roller-P248406" class="product-image">
						<img width="97" height="97" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-97.png&quot;);" src="/productimages/sku/s1217736-main-Sgrid.jpg" alt="First Aid Beauty - Detox Eye Roller"> 
					</a>
					<a href="http://m.sephora.com/detox-eye-roller-P248406">
					<span class="product-info">
						<span class="name OneLinkNoTx">
							<span class="brand">
								First Aid Beauty 
							</span>
							Detox Eye Roller 
						</span>
						<span class="sku-price">
							<span class="list-price">
								<span class="currency">
									$ 
								</span>
								<span class="price">
									24.00 
								</span>
							</span>
						</span>
						<span class="flags">
						</span>
					</span>
				</a>
				<div style="display: none;" class="out-of-stock">
					<b>
						not in stock 
					</b>
					<span>
						: 
					</span>
					<a class="underline btn-email-when-in-stock" href="#">
					</a>
				</div>
			</div>
		</li>
		<li style="overflow: hidden; float: left; width: 906px; height: inherit;">
			<div class="product-item">
				<a href="http://m.sephora.com/anti-redness-serum-P248409" class="product-image">
					<img width="97" height="97" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-97.png&quot;);" src="/productimages/sku/s1217769-main-Sgrid.jpg" alt="First Aid Beauty - Anti-Redness Serum"> 
				</a>
				<a href="http://m.sephora.com/anti-redness-serum-P248409">
				<span class="product-info">
					<span class="name OneLinkNoTx">
						<span class="brand">
							First Aid Beauty 
						</span>
						Anti-Redness Serum 
					</span>
					<span class="sku-price">
						<span class="list-price">
							<span class="currency">
								$ 
							</span>
							<span class="price">
								34.00 
							</span>
						</span>
					</span>
					<span class="flags">
					</span>
				</span>
			</a>
			<div style="display: none;" class="out-of-stock">
				<b>
					not in stock 
				</b>
				<span>
					: 
				</span>
				<a class="underline btn-email-when-in-stock" href="#">
				</a>
			</div>
		</div>
	</li>
	<li style="overflow: hidden; float: left; width: 906px; height: inherit;">
		<div class="product-item">
			<a href="http://m.sephora.com/face-cleanser-P248404" class="product-image">
				<img width="97" height="97" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-97.png&quot;);" src="/productimages/sku/s1217710-main-Sgrid.jpg" alt="First Aid Beauty - Face Cleanser"> 
			</a>
			<a href="http://m.sephora.com/face-cleanser-P248404">
			<span class="product-info">
				<span class="name OneLinkNoTx">
					<span class="brand">
						First Aid Beauty 
					</span>
					Face Cleanser 
				</span>
				<span class="sku-price">
					<span class="list-price">
						<span class="currency">
							$ 
						</span>
						<span class="price">
							20.00 
						</span>
					</span>
				</span>
				<span class="flags">
				</span>
			</span>
		</a>
		<div style="display: none;" class="out-of-stock">
			<b>
				not in stock 
			</b>
			<span>
				: 
			</span>
			<a class="underline btn-email-when-in-stock" href="#">
			</a>
		</div>
	</div>
</li>
<li style="overflow: hidden; float: left; width: 906px; height: inherit;">
	<div class="product-item">
		<a href="http://m.sephora.com/detox-eye-roller-P248406" class="product-image">
			<img width="97" height="97" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-97.png&quot;);" src="/productimages/sku/s1217736-main-Sgrid.jpg" alt="First Aid Beauty - Detox Eye Roller"> 
		</a>
		<a href="http://m.sephora.com/detox-eye-roller-P248406">
		<span class="product-info">
			<span class="name OneLinkNoTx">
				<span class="brand">
					First Aid Beauty 
				</span>
				Detox Eye Roller 
			</span>
			<span class="sku-price">
				<span class="list-price">
					<span class="currency">
						$ 
					</span>
					<span class="price">
						24.00 
					</span>
				</span>
			</span>
			<span class="flags">
			</span>
		</span>
	</a>
	<div style="display: none;" class="out-of-stock">
		<b>
			not in stock 
		</b>
		<span>
			: 
		</span>
		<a class="underline btn-email-when-in-stock" href="#">
		</a>
	</div>
</div>
</li>
<li style="overflow: hidden; float: left; width: 906px; height: inherit;">
	<div class="product-item">
		<a href="http://m.sephora.com/anti-redness-serum-P248409" class="product-image">
			<img width="97" height="97" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-97.png&quot;);" src="/productimages/sku/s1217769-main-Sgrid.jpg" alt="First Aid Beauty - Anti-Redness Serum"> 
		</a>
		<a href="http://m.sephora.com/anti-redness-serum-P248409">
		<span class="product-info">
			<span class="name OneLinkNoTx">
				<span class="brand">
					First Aid Beauty 
				</span>
				Anti-Redness Serum 
			</span>
			<span class="sku-price">
				<span class="list-price">
					<span class="currency">
						$ 
					</span>
					<span class="price">
						34.00 
					</span>
				</span>
			</span>
			<span class="flags">
			</span>
		</span>
	</a>
	<div style="display: none;" class="out-of-stock">
		<b>
			not in stock 
		</b>
		<span>
			: 
		</span>
		<a class="underline btn-email-when-in-stock" href="#">
		</a>
	</div>
</div>
</li>
<li style="overflow: hidden; float: left; width: 906px; height: inherit;">
	<div class="product-item">
		<a href="http://m.sephora.com/face-cleanser-P248404" class="product-image">
			<img width="97" height="97" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-97.png&quot;);" src="/productimages/sku/s1217710-main-Sgrid.jpg" alt="First Aid Beauty - Face Cleanser"> 
		</a>
		<a href="http://m.sephora.com/face-cleanser-P248404">
		<span class="product-info">
			<span class="name OneLinkNoTx">
				<span class="brand">
					First Aid Beauty 
				</span>
				Face Cleanser 
			</span>
			<span class="sku-price">
				<span class="list-price">
					<span class="currency">
						$ 
					</span>
					<span class="price">
						20.00 
					</span>
				</span>
			</span>
			<span class="flags">
			</span>
		</span>
	</a>
	<div style="display: none;" class="out-of-stock">
		<b>
			not in stock 
		</b>
		<span>
			: 
		</span>
		<a class="underline btn-email-when-in-stock" href="#">
		</a>
	</div>
</div>
</li>
<li style="overflow: hidden; float: left; width: 906px; height: inherit;">
	<div class="product-item">
		<a href="http://m.sephora.com/detox-eye-roller-P248406" class="product-image">
			<img width="97" height="97" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-97.png&quot;);" src="/productimages/sku/s1217736-main-Sgrid.jpg" alt="First Aid Beauty - Detox Eye Roller"> 
		</a>
		<a href="http://m.sephora.com/detox-eye-roller-P248406">
		<span class="product-info">
			<span class="name OneLinkNoTx">
				<span class="brand">
					First Aid Beauty 
				</span>
				Detox Eye Roller 
			</span>
			<span class="sku-price">
				<span class="list-price">
					<span class="currency">
						$ 
					</span>
					<span class="price">
						24.00 
					</span>
				</span>
			</span>
			<span class="flags">
			</span>
		</span>
	</a>
	<div style="display: none;" class="out-of-stock">
		<b>
			not in stock 
		</b>
		<span>
			: 
		</span>
		<a class="underline btn-email-when-in-stock" href="#">
		</a>
	</div>
</div>
</li>
</ul>
</div>
<a class="next">
	<img src="/img/common/arrows/black-arrow-right@2x.png"> 
</a>
</div>
<div class="reviewbox" style="display: none;">
	<h2 class="rview">
		Recently Viewed 
	</h2>
	<a class="previous" style="display: none;">
		<img src="/img/common/arrows/black-arrow-left@2x.png"> 
	</a>
	<a class="next" style="display: none;">
		<img src="/img/common/arrows/black-arrow-right@2x.png"> 
	</a>
</div>
<div class="inline-basket-wrapper">
	<div class="inline-basket">
		<div class="inline-basket-content">
			<h2 class="helvetica-light">
				just added to basket 
			</h2>
			<span data-currency="$" id="currency">
			</span>
			<div class="basket-line-items">
			</div>
			<div id="inline-errors">
			</div>
			<div class="product-row container product-row-to-clone hidden">
				<div class="product-image">
					<img width="42" height="42" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-42.png&quot;);" alt="" src="http://www.sephora.com/images/image-not-available-42.png"> 
				</div>
				<div class="product-description container">
					<h3>
						<span class="brand">
						</span>
						&nbsp; 
						<span class="product-name">
						</span>
					</h3>
					<div class="info-row">
						<span class="sku">
							<span class="label">
								Item # 
							</span>
							<span class="value">
							</span>
						</span>
						<span class="qty">
							<span class="label">
								QTY 
							</span>
							<span class="value">
							</span>
						</span>
					</div>
					<div class="info-row variation">
						<span class="">
							<span class="label">
							</span>
							<span class="value">
							</span>
						</span>
					</div>
				</div>
				<div class="product-price">
					<span class="list-price">
						<span class="currency">
							$ 
						</span>
						<span class="price">
							xx 
						</span>
					</span>
				</div>
			</div>
			<div class="actions clearfix">
				<a href="#" class="btn btn-continue-shopping">
				<i class="arrow-mini arrow-left">
				</i>
				Continue Shopping 
			</a>
			<a href="http://m.sephora.com/profile/MyAccount/MyList/myList.jsp" class="btn btn-primary btn-my-list" style="display: none">
				Shopping List 
			<i class="arrow-mini arrow-right">
			</i>
		</a>
		<a href="http://m.sephora.com/basket/basket.jsp" class="btn btn-primary btn-checkout">
			basket 
		<i class="arrow-mini arrow-right">
		</i>
	</a>
</div>
</div>
<div class="inline-basket-msg hide">
	<div class="msg-free-ship">
		<h4>
			free shipping! 
		</h4>
		<p class="hide">
			Add $ 
			<span class="amount-to-free-shipping">
			</span>
			to your order to qualify. 
		</p>
		<p class="hide">
			You now qualify for FREE STANDARD SHIPPING! 
		</p>
	</div>
	<div class="msg-vib-state">
		<img width="139" height="35" alt="VIB Beauty Insider" src="/images/vib-stacked-sm.png"> 
		<p>
		</p>
	</div>
	<div class="errors hide">
	</div>
</div>
<div class="close icon">
</div>
</div>
</div>
<div class="popup email-stock" id="email-stock">
	<div class="popup-content">
	</div>
	<div class="icon close">
	</div>
</div>
<div class="popup" id="poperror">
	<div class="popup-content">
		<div class="product-description container">
			<p class="pinkerror">
				Please select a quantity before adding an item to your basket. 
			</p>
		</div>
	</div>
	<div class="icon close">
	</div>
</div>
</div>
</div>
-->