{{> header}}
<link rel="stylesheet" type="text/css" href="/css/order_confirm.css" /> 
<div class="flamebox">
	<div class="innerflame">
		<div class="l-1" src="/img/common/header_flame_sprite.png">
		</div>
	</div>
</div>
<style>
	#mobileContent img { max-width:100%; }
	.beauty-bank h2 { height:25px; }	
	.join-bi select { display:block; margin:5px 0; }
</style> 
<div id="breadcrumbs">
	<ul class="breadcrumb" role="navigation">
		<li><a href="https://m-qa.sephora.com/">Home</a></li>
		<li>Order Confirmation</li>
	</ul>
</div>
<div class="checkout">
	<div class="confirmation">
		<h1>
			Order confirmation
		</h1>
		<p>
			Thank you for ordering from Sephora. You will receive an order confirmation shortly.
		</p>
		<p>
			Your order number is: <span class="order-number"><a class="OneLinkNoTx" href="https://m-qa.sephora.com/profile/orders/orderDetail.jsp?orderId=2131030185">2131030185</a> </span>
		</p>
	</div>
	<div id="main" class="maincontent order-confirm order-bi order-confirm">
		<div class="order-confirm-top clearfix">
		</div>
	</div>
	<div class="bi-info bi-bank">
		<div class="bi-hd">
		</div>
		<div class="bi-points-box">
			<h4>
				<span>+</span>My Beauty Bank
			</h4>
			<ul>
				<li class="pts-current"> <span class="pts-amount"> 39</span> Previous total </li>
				<li class="pts-earned"> <span class="pts-amount"> +&nbsp;70</span> Earned today </li>
				<li class="pts-redeemed"> <span class="pts-amount"> -&nbsp;0</span> Redeemed </li>
				<li class="pts-total"> <span class="pts-amount"> <span class="pts-available">109</span> points</span> New Balance </li>
			</ul>
		</div>
		<p>
		<a href="https://m-qa.sephora.com/profile/MyAccount/beautyInsider/beautyInsider.jsp" class="underline">View Current Rewards</a>
		</p>
	</div>
</div>


{{> footer}}