<div class="inline-basket-wrapper" style="display: block;">
	<div class="inline-basket">
		<div class="inline-basket-content">
			<h2 class="helvetica-light">
				just added to basket
			</h2>
			<span id="currency" data-currency="$">
			</span>
			<div class="basket-line-items">
				<div class="product-row container" id="sku1340306" style="">
					<div class="product-image">
						<img width="42" src="/productimages/sku/s1340306-main-thumb.jpg" height="42" alt="" onerror="Sephora.ui.error.productImage(this,&quot;/images/image-not-available-42.png&quot;);"> 
					</div>
					<div class="product-description container">
						<h3>
							<span class="brand">
								Perfekt
							</span>
							&nbsp;
							<span class="product-name">
								Matte Body Perfection Gel
							</span>
						</h3>
						<div class="info-row">
							<span class="sku">
								<span class="label">
									Item #
								</span>
								<span class="value">
									1340306
								</span>
							</span>
							<span class="qty">
								<span class="label">
									QTY
								</span>
								<span class="value">
									1
								</span>
							</span>
						</div>
						<div class="info-row variation">
							<span class="">
								<span class="label">
								</span>
								<span class="value">
									Tan
								</span>
							</span>
						</div>
					</div>
					<div class="product-price">
						<span class="list-price">
							<span class="currency">
								$
							</span>
							<span class="price">
								48.00
							</span>
						</span>
					</div>
				</div>
			</div>
			<div id="inline-errors">
			</div>
			<div class="actions clearfix">
				<a class="btn btn-continue-shopping" href="#">
				<i class="arrow-mini arrow-left">
				</i>
				Continue Shopping
			</a>
			<a style="display: none;" class="btn btn-primary btn-my-list" href="http://m.sephora.com/profile/MyAccount/MyList/myList.jsp">
				Shopping List 
			<i class="arrow-mini arrow-right">
			</i>
		</a>
		<a class="btn btn-primary btn-checkout" href="http://m.sephora.com/basket/basket.jsp" style="">
			basket 
		<i class="arrow-mini arrow-right">
		</i>
	</a>
</div>
</div>
<div class="inline-basket-msg hide">
	<div class="msg-free-ship">
		<h4>
			free shipping!
		</h4>
		<p class="hide">
			Add $
			<span class="amount-to-free-shipping">
			</span>
			to your order to qualify.
		</p>
		<p class="hide">
			You now qualify for FREE STANDARD SHIPPING!
		</p>
	</div>
	<div class="msg-vib-state">
		<img src="/images/vib-stacked-sm.png" width="139" height="35" alt="VIB Beauty Insider">
		<p>
		</p>
	</div>
	<div class="errors hide">
	</div>
</div>
<div class="close icon">
</div>
</div>
</div>
